.content h4 {
  font-size: 1.5rem !important;
  font-weight: 500 !important;
  color: rgb(248, 248, 248) !important;
  margin: 1rem 0;
}

.content p {
  font-size: 1rem !important;
  font-weight: 400 !important;
  color: rgb(224, 224, 224) !important;
}
